.svgBox {

  width: 100%;
  height: 400px;
font-weight : 1px;

}

#chart{

margin-bottom: -10px;
margin-top: -10px;
transform: rotate(90deg);

}
.label {

fill: white;
}

.xAxis path {

stroke: white;

}

.xAxis line {

stroke: white;

}
.xAxis {

stroke: white;


}

.yAxis path {

stroke: white;

}

.yAxis line {

stroke: white;

}
.yAxis {

stroke: white;

}

#ptline

{

 transform: rotate(15, 40, 40);

}

.menu-container{

  opacity: 0;
}

.tooltip {

padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
background: white;

}

.tooltip2 {

background: black;

}

.text {

height: 550px;
width: 450px;
padding-top: 0px;
padding-left: 100px;
margin-bottom: 50px;
overflow-y: auto;

}

p {


color: silver;
padding-top: 10px;
padding-right: 150px;
padding-left: 100px;

}

.title {

height: 50px;


}

h2 {
padding-left: 10px;
font-size: 2.0rem;
text-align: left;
margin-left: 65px;
color: white;

}

h4 {

padding-left: 100px;

}
